:root{
  --primary-color-a1:#EAF1FF;
  --primary-white:#fff;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.side_navbar{
  background-color: var(--primary-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.Main-brand {
  padding: 1rem;
}

.Main-brand h1{
  font-weight: 700;
}

.Nav_items {
  list-style-type: none;
}

.Nav_links {
  text-decoration: none;
}

.Nav_footer {
  margin-bottom: 1rem;
  gap: 5px;
}